.columns {
  margin: 0 !important;
}

@media screen and (min-width: 768px) {
  .columns {
    margin-left: -0.75rem !important;
    margin-right: -0.75rem !important;
    margin-top: -0.75rem !important;
  }
}
